.home {
    display: grid;
  place-items: center;
  height: 100vh;
}

.card {
    border-radius: 1rem;
    border-color: lightgray;
    border-style: solid;
    padding: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}