.home {
    display: grid;
  place-items: center;
  height: 100vh;
}

.card {
    border-color: lightgray;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.1rem;
    animation: rainbow-shadow 20s linear;
    animation-iteration-count: infinite;
    padding: 5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@keyframes rainbow-shadow{
  100%,0%{
    box-shadow: 1rem 1rem rgb(255,0,0);
  }
  8%{
    box-shadow: 1rem 1rem rgb(255,127,0);
  }
  16%{
    box-shadow: 1rem 1rem rgb(255,255,0);
  }
  25%{
    box-shadow: 1rem 1rem rgb(127,255,0);
  }
  33%{
    box-shadow: 1rem 1rem rgb(0,255,0);
  }
  41%{
    box-shadow: 1rem 1rem rgb(0,255,127);
  }
  50%{
    box-shadow: 1rem 1rem rgb(0,255,255);
  }
  58%{
    box-shadow: 1rem 1rem rgb(0,127,255);
  }
  66%{
    box-shadow: 1rem 1rem rgb(0,0,255);
  }
  75%{
    box-shadow: 1rem 1rem rgb(127,0,255);
  }
  83%{
    box-shadow: 1rem 1rem rgb(255,0,255);
  }
  91%{
    box-shadow: 1rem 1rem rgb(255,0,127);
  }
}

#title{
  margin-top: 0;
}

#letsPlayText{
  color: lightgray;
}